<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link href="/static/css/output.css" rel="stylesheet">-->
    <link th:href="@{/css/output.css}" rel="stylesheet">

</head>
<body>

<div th:replace="~{partials/header :: header}"></div>

<div th:if="${error != null && error.length > 0}" class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
    <span class="inline-block mt-1 mb-1 text-white" th:text="${error}"></span>
</div>

<div class="w-full h-screen flex px-20">

    <div class="w-1/2 flex items-center justify-center h-screen">
        <div class="w-full px-32">
            <h3 class="text-4xl">Welcome to <span class="text-blue-400 font-semibold">Scatch</span></h3>
            <h4 class="text-2xl mb-5">Create your account</h4>

            <form autocomplete="off" th:action="@{/users/register}" method="post" th:object="${userAttribute}">
                <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                       type="text" placeholder="Full Name" th:field="*{fullname}" required>
                <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                       type="email" placeholder="Email" th:field="*{email}" required>
                <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                       type="password" placeholder="Password" th:field="*{password}" required>
                <input class="px-5 rounded-full py-3 mt-2 bg-blue-500 text-white"
                       type="submit" value="Create My Account">
            </form>
        </div>
    </div>

        <!-- -----------------------------------------------------------------------------------------------------   -->

    <div class="w-1/2 flex items-center justify-center h-screen">
        <div class="w-full px-32">
            <h4 class="text-2xl capitalize mb-5">Login to your account</h4>

            <div th:if="${param.error}">
                <p style="color: red;">Invalid email or password</p>
            </div>
            <div th:if="${param.logout}">
                <p style="color: green;">You have been successfully logged out.</p>
            </div>
            <div th:if="${param.success}">
                <p style="color: green;">Registration successful! Please log in.</p>
            </div>
            <div th:if="${param.alreadyExists}">
                <p style="color: blue;">User Already Exists! Please log in.</p>
            </div>

            <form autocomplete="off" th:action="@{/users/login}" method="post">
                <input class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                       type="email" placeholder="Email" name="email" required>
                <input class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                       type="password" placeholder="Password" name="password" required>
                <input class="px-5 block rounded-full py-3 mt-2 bg-blue-500 text-white"
                       type="submit" value="Login">
            </form>

        </div>
    </div>
</div>

<div th:replace="~{partials/footer :: footer}"></div>

</body>
</html>
